<launch>
  <!-- do export tb3_MODEL=burger before launch tb3_core.launch -->
  <!-- tunnel control -->
  <!-- Arguments -->
  <arg name="model" default="$(env tb3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find tb3_driving)/maps/tunnel.yaml"/>
  <arg name="open_rviz" default="true"/>

  <!-- tb3 -->
  <include file="$(find tb3_bringup)/launch/tb3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find tb3_navigation)/launch/amcl.launch">
    <arg name="initial_pose_x" default="-1.8"/>
    <arg name="initial_pose_y" default="-0.1"/>
    <arg name="initial_pose_a" default="-0.78"/>
  </include>

  <!-- move_base -->
  <include file="$(find tb3_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find tb3_navigation)/rviz/tb3_navigation.rviz"/>
  </group>
</launch>
